nav {
  background-color: transparent;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--spacing-24);
  align-items: center;
}

nav li {
  position: relative;
  padding: 0;
  margin: 0;
}

nav a {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  background-color: transparent;
  color: var(--color-ink-black);
  border: none;
  border-radius: var(--radius-general);
  padding: 0;
  font-family: var(--font-arketsansmono);
  font-size: var(--text-body);
  line-height: var(--leading-body);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}

nav a:hover {
  color: var(--color-body-text-gray);
}

nav a:focus, nav button:focus {
  outline: 2px solid var(--color-body-text-gray);
  outline-offset: 2px;
  border-radius: var(--radius-buttons);
  color: var(--color-body-text-gray);
}

.cart-count {
  position: absolute;
  bottom: calc(var(--spacing-8) * -0.5);
  right: calc(var(--spacing-8) * -1);
  min-width: var(--spacing-16);
  height: var(--spacing-16);
  padding: 0 var(--spacing-4);
  border-radius: 999px;
  background-color: var(--color-cart-badge-red);
  color: var(--color-canvas-white);
  font-family: var(--font-arketsansmono);
  font-size: var(--text-caption);
  line-height: 1;
  font-weight: var(--font-weight-regular);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--element-gap-2);
}

@media (max-width: 768px) {
  nav ul {
    gap: var(--spacing-16);
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    font-size: var(--text-caption);
    gap: var(--spacing-4);
  }

  nav ul li span{
    display: none;
  }

  .cart-count {
    bottom: calc(var(--spacing-8) * -1);
    right: calc(var(--spacing-4) * -1);
    min-width: var(--spacing-12);
    height: var(--spacing-12);
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  nav ul {
    gap: var(--spacing-12);
  }
}
